.home {
    width: 500px;
    height: 500px;
    background: #6ee2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
}

.home-state {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    color: #81622d;
}

.home-props {
    font-family: 'Lato', sans-serif;
    color: purple;
}

.my-btn {
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border: 1px solid black;
    background: #f2ffc4;
}
