.home {
    width: 500px;
    height: 500px;
    background: rgb(110, 226, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
}

.home-state {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    color: rgb(129, 98, 45);
}

.home-props {
    font-family: 'Lato', sans-serif;
    color: purple;
}
